/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/
/* // import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2 */
@import 'bootstrap-sprockets';
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.logo{
  padding: 0 0 0px 35px;
  height: 50px;
}

.logoutDropdown {
  background-color: #06a553;
}

.logoutDropdown ul {
  background-color: #06a553 !important;
}

.logoutDropdown a {
  background-color: #06a553 !important;
}

.logoutDropdown ul li a {
  background-color: #06a553;
}

.logoutDropdown ul li a:hover {
  background-color: #fb9121 !important;
}
/**/
#notice{
	color: white;
	/*background-color: green;*/
	background-color: #fb9121;
	height: 30px;
	text-align: center;
	font-size: 20px;
  padding-top: 5px; 
	margin: 0; 
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

#myNavbar{
  background-color: #06a553;
}

#myNavbar a {
  color: white;
}

#myNavbar .active a {
  background-color: #fb9121;
}

#leftNavbar .active a {
  background-color: #ccc;
}

.btn.btn-primary {
  color: #fff;
  background-color: #fb9121;
  border-color: #fb9121;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #06a553;
  border-color: #06a553;
}

.logo {
  color: white !important; 
  width: 180px;
  background: 'logo.png' !important;
}

.remove_notice{
  cursor: pointer; 
  cursor: hand;
  float: right;
  padding-right: 30px;
}


.languageNavbar{
  background-color: #06a553 !important;
}

.languageNavbar a {
  color: white !important;
}

.languageNavbar .active a {
  background-color: #fb9121 !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.state {
  width: 100%;
}

.pagination {
  margin: 0;
}

/* margins */
.mt0{
  margin-top: 0;
}
.mr0{
  margin-right: 0;
}
.mb0{
  margin-bottom: 0;
}
.ml0{
  margin-left: 0;
}
.mt10{
  margin-top: 10px;
}
.mr10{
  margin-right: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.ml10{
  margin-left: 10px;
}

.mt20{
  margin-top: 20px;
}
.mr20{
  margin-right: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.ml20{
  margin-left: 20px;
}

.mt30{
  margin-top: 30px;
}
.mr30{
  margin-right: 30px;
}
.mb30{
  margin-bottom: 30px;
}
.ml30{
  margin-left: 30px;
}

.mt40{
  margin-top: 40px;
}
.mr40{
  margin-right: 40px;
}
.mb40{
  margin-bottom: 40px;
}
.ml40{
  margin-left: 40px;
}

.mt50{
  margin-top: 50px;
}
.mr50{
  margin-right: 50px;
}
.mb50{
  margin-bottom: 50px;
}
.ml50{
  margin-left: 50px;
}

.mt60{
  margin-top: 60px;
}
.mr60{
  margin-right: 60px;
}
.mb60{
  margin-bottom: 60px;
}
.ml60{
  margin-left: 60px;
}

.mt70{
  margin-top: 70px;
}
.mr70{
  margin-right: 70px;
}
.mb70{
  margin-bottom: 70px;
}
.ml70{
  margin-left: 70px;
}

.mt80{
  margin-top: 80px;
}
.mr80{
  margin-right: 80px;
}
.mb80{
  margin-bottom: 80px;
}
.ml80{
  margin-left: 80px;
}

.mt90{
  margin-top: 90px;
}
.mr90{
  margin-right: 90px;
}
.mb90{
  margin-bottom: 90px;
}
.ml90{
  margin-left: 90px;
}

.mt100{
  margin-top: 100px;
}
.mr100{
  margin-right: 100px;
}
.mb100{
  margin-bottom: 100px;
}
.ml100{
  margin-left: 100px;
}

/* paddings */
.pt0{
  padding-top: 0;
}
.pr0{
  padding-right: 0;
}
.pb0{
  padding-bottom: 0;
}
.pl0{
  padding-left: 0;
}

.pt10{
  padding-top: 10px;
}
.pr10{
  padding-right: 10px;
}
.pb10{
  padding-bottom: 10px;
}
.pl10{
  padding-left: 10px;
}

.pt20{
  padding-top: 20px;
}
.pr20{
  padding-right: 20px;
}
.pb20{
  padding-bottom: 20px;
}
.pl20{
  padding-left: 20px;
}

.pt30{
  padding-top: 30px;
}
.pr30{
  padding-right: 30px;
}
.pb30{
  padding-bottom: 30px;
}
.pl30{
  padding-left: 30px;
}

.pt40{
  padding-top: 40px;
}
.pr40{
  padding-right: 40px;
}
.pb40{
  padding-bottom: 40px;
}
.pl40{
  padding-left: 40px;
}

.pt50{
  padding-top: 50px;
}
.pr50{
  padding-right: 50px;
}
.pb50{
  padding-bottom: 50px;
}
.pl50{
  padding-left: 50px;
}

.pt60{
  padding-top: 60px;
}
.pr60{
  padding-right: 60px;
}
.pb60{
  padding-bottom: 60px;
}
.pl60{
  padding-left: 60px;
}

.pt70{
  padding-top: 70px;
}
.pr70{
  padding-right: 70px;
}
.pb70{
  padding-bottom: 70px;
}
.pl70{
  padding-left: 70px;
}

.pt80{
  padding-top: 80px;
}
.pr80{
  padding-right: 80px;
}
.pb80{
  padding-bottom: 80px;
}
.pl80{
  padding-left: 80px;
}

.pt90{
  padding-top: 90px;
}
.pr90{
  padding-right: 90px;
}
.pb90{
  padding-bottom: 90px;
}
.pl90{
  padding-left: 90px;
}

.pt100{
  padding-top: 100px;
}
.pr100{
  padding-right: 100px;
}
.pb100{
  padding-bottom: 100px;
}
.pl100{
  padding-left: 100px;
}

.w-100{
  width: 100%;
}
